<!-- Components/EventCard.razor -->
@using EventEaseApp.Models
@code {
    [Parameter]
    public Event? Event { get; set; }
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Event?.Name??"--no name--"</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Event?.Date??"--no date--"</h6>
        <p class="card-text">@Event?.Location??"--no location--"</p>
        <p class="card-text">@Event?.Details??"--no details--"</p>
        <p class="card-text">@Event?.CustomerName??"--no customer name--"</p>
        <p class="card-text">@Event?.ContactInfo??"--no contact info--"</p>
    </div>
</div>