.top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    background-color: #343a40;
}

.navbar-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar-brand-container {
    flex: 1;
    text-align: center;
}

.navbar-brand {
    color: white; /* Set the text color to white */
    text-decoration: none;
}

.language-selector {
    flex: 1;
    text-align: center;
    margin-top: 0.5rem;
}

.language-selector select {
    border: 1px solid white; /* Add a white border */
    background-color: #343a40; /* Match the background color */
    color: white; /* Set the text color to white */
    padding: 0.25rem;
    border-radius: 4px;
}

/* Media query for narrow (mobile) view */
@media (max-width: 768px) {
    .top-row {
        padding-left: 0;
    }

    .navbar-center {
        align-items: center;
    }

    .language-selector {
        text-align: center;
        margin-top: 0.5rem;
    }

    .nav {
        flex-direction: row; /* Make the nav items horizontal */
        justify-content: center;
    }

    .nav-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

/* Media query for wide-format view when NavBar is on the left */
@media (min-width: 769px) {
    .top-row {
        flex-direction: column;
        align-items: center;
    }

    .navbar-center {
        flex-direction: column;
        align-items: center;
    }

    .language-selector {
        text-align: center;
        margin-top: 0.5rem;
    }

    .nav {
        flex-direction: column; /* Make the nav items vertical */
    }

    .nav-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.navbar-toggler {
    display: none;
}

.navbar .nav-link {
    white-space: nowrap;
    color: white; /* Ensure the nav links are visible */
}

.collapse {
    display: none;
}